<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Welcome to Steam</ion-title>
    </ion-toolbar>
  </ion-header>
    
  <ion-button [routerLink] = "['/logo']" routerDirection="forward"> view logo </ion-button>
    <ion-button [routerLink] = "['/genre']" routerDirection="forward"> select prefered genre of game </ion-button>
    <ion-button [routerLink] = "['/steam']" routerDirection="forward"> view steam products </ion-button>
    <ion-button [routerLink] = "['/founders']" routerDirection="forward"> view names of founders </ion-button>
    <ion-button [routerLink] = "['/geolocator']" routerDirection="forward"> use geolocator </ion-button>
    
    
    
</ion-content>
